@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body {

  margin: 0px;
}

header {
  display:grid;
  background-color: black;
  height: 200px;

}

header>h1 {

  font-family: "Passion One", sans-serif;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  margin: 0px;
  margin-top: 55px;
  
}

header>h3 {

  color: white;
  text-align: center;
  font-weight: 5px;
  font-size: 15px;
  
}

.link {

  text-decoration: none;
  color: white;
  font-family:"Passion One", sans-serif; 
  font-size: 25px;

}

p {

font-family:"Sriracha", cursive;
padding-top: 100px;
padding-bottom: 100px;
white-space: pre;
font-size: 25px;

}

.box {
  background-color: rgba(0, 0, 0, 0.691);
  display: inline-block;
  padding: 5px;
  

}

#fundo1 {

  color: white;
  background-image: url(imagens/background001.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
}


#fundo2 {

  color: white;
  background-image: url(imagens/background002.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
}
